.log-reg-overlay {
	width: 80vw;
	padding: 3rem 1rem;
	position: fixed;
	top: 150%;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 15px;
	box-shadow: 7px 7px 7px 2px rgba(0, 0, 0, 0.6);

	transform: translate(0, -50%);
	transition-property: top;
	transition-duration: 1s;

	background-color: white;
}

.log-reg-overlay.transition {
	top: 50%;
}

.log-reg-overlay__close-btn {
	padding: 0 0.3rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.5rem;

	border: none;
	border-radius: 20px;
	background-color: rgb(189, 189, 189);
}

.log-reg-overlay__confirm-btn {
	padding: 0.5rem;
	margin-top: 1rem;
}

.log-reg-overlay__swap-btn {
	text-align: start;
	background: none;
	border: none;
	color: blue;
	text-decoration: underline;
}

.log-reg-overlay__form-container {
	width: 80%;
}
